@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.slidefwd{
	animation: myAnim 1s cubic-bezier(0.32, 0, 0.67, 0) infinite normal forwards;

}
